<!-- Full Page Intro -->
<div class="view jarallax"
     data-jarallax='{"speed": 0.2}'
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-purple-slight d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-12 text-center">
          <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Hey! I'm Sunny</h1>
          <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">Something BIG is coming!<br/>
            Here at SunnyWiki, we innovate, create and discover! </h5>
          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <a mdbBtn color="purple" rounded="true" mdbWavesEffect><i class="fa fa-file left"></i> Projects</a>
            <a mdbBtn color="purple" rounded="true" outline="true" mdbWavesEffect><i class="fa fa-book left"></i>
              Learn more</a>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
