<br/><br/><br/>
<!-- Projects section v.4 -->
<section class="container text-center my-5">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12 mb-4">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="text-centre">
                <span class="purple-text padding-sm">
                <i class="fas fa fa-plane"></i>
                <strong> Travel</strong>
              </span>
              <span class="pink-text padding-sm">
                <i class="fas fa fa-code"></i>
                <strong> Code</strong>
              </span>

              <span class="white-text padding-sm">
                <i class="fas fa fa-cutlery"></i>
                <strong> Eat</strong>
              </span>
            </h6>


            <h3 class="py-3 font-weight-bold">
              <strong>About Me</strong>
            </h3>
            <p class="pb-3">A foodie travel addict, geeky & techie guy from City of Joy Kolkata, India living in Scotland, UK. Having worn many hats in my career now working as Software Developer in Banking sector.
            </p>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fas fa fa-clone left"></i> View project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</section>
<!-- Projects section v.4 -->
